@import '../../styles/mixins.scss';

.root {
  position: relative;

  @include media-md {
    border-top: #c7cdd9 1px solid;
    padding-top: 20px;

    & :global(.swiper-slide-next) {
      opacity: 0.5;
    }
  }
}

.slide {
  display: flex;
  flex-direction: column;
  gap: 10px;
  opacity: 0;
  transition: opacity 0.7s;
  margin: 0 auto;
  width: 320px;

  @include media-md {
    margin: 0;
    width: 166px;
  }
}

.show {
  opacity: 1;
}

.date {
  color: #3877ee;
  font-size: 25px;
  line-height: 30px;
  font-family: 'Bebas Neue', sans-serif;

  @include media-md {
    font-size: 16px;
    line-height: 19px;
  }
}
.description {
  color: #42567a;
  font-size: 20px;
  line-height: 30px;

  @include media-md {
    font-size: 14px;
    line-height: 20px;
  }
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: calc(50% - 25px);
  z-index: 1;
  cursor: pointer;
  box-shadow: 0px 0px 5px 0px #3877ee;
  border: none;
  border-radius: 50%;
  background: #fff;
  width: 40px;
  height: 40px;

  & svg {
    width: 12px;
    height: 18px;

    & path {
      stroke: #3877ee;
    }
  }

  @include media-md {
    display: none;
  }
}

.swiper-button-prev {
  left: -15px;
}

.swiper-button-next {
  right: -15px;
}
